/* Html & Body */


html, body {
    font-family: 'Roboto', sans-serif;
}


/* Navbar */


.navbar {
    padding-left: 0;
    margin-bottom: 25px;
}

.navbar-brand {
    font-size: 24px;
}

.nav-item {
    font-size: 16px;
}

.nav-item > a {
    padding: 5px 0 0 0;
}

.other-topic {
    color: #212529 !important;
}


/* Content Divs */


.cont-info {
    border: 1px solid rgba(0, 0, 0, 0.08);
    border-radius: 4px;
}

.cont-info:hover {
    box-shadow: 1px 1px 6px #a0a0a0;
}

.cont-info > h4 {
    padding: 15px;
}

.cont-info > p {
    padding: 15px 15px 30px 15px;
}

.cont-info2 {
    border: 1px solid rgba(0, 0, 0, 0.08);
    border-radius: 4px;
}

.cont-info2:hover {
    box-shadow:1px 1px 6px #a0a0a0;
}

.cont-info2 > h4 {
    padding: 15px;
}

.cont-info2 > h5 {
    padding: 15px;
}

.cont-info2 > p {
    padding: 15px 15px 40px 15px;
}


/* Cut Border */


.cont-cut {
    margin-top: 25px;
    margin-bottom: 25px;
}


/* Footer */


.footer-div > footer {
    margin-top: 35px;
    margin-bottom: 10px;
    padding: 10px 0 10px 0;
    color: #212529;
    text-align: center;
    border-top: 2px solid #212529;
    font-size: 15px;
}


/* Table */


.th {
    background: #212529;
    color: #fff;
    font-weight: normal;
}

.table-link {
    text-decoration: none;
    color: #212529;
}

.table-link:hover {
    text-decoration: none;
    color: #212529;
}


/* Media Queries for Mobile and Tablel*/


@media (max-width: 992px) {
    .cont-info:hover {
        box-shadow: none;
    }

    .cont-info2:hover {
        box-shadow: none;
    }
}





















